POSTGRES_DB=jobconnect
POSTGRES_USER=jobconnect
POSTGRES_PASSWORD=
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
API_PORT=8001
JWT_SECRET_KEY=
DJANGO_SECRET_KEY=
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=30
RESUME_STORAGE_DIR=media/resumes
MAX_RESUME_SIZE_BYTES=5242880
